
*{
   
    list-style: none;
    text-decoration: none;
    margin:0px;
    padding: 0px;
}
header{
    text-align: center;
    background-image: linear-gradient(to top,rgb(251, 255, 255),rgb(215, 252, 252)  );

}
#header>img{
    width: 10%;
}
#header>img{
    animation-name: rotacion;
    animation-duration: 5s;
    width: 10%;
}

@keyframes rotacion{
    to{
        transform: rotatey(360deg);
    }
}

nav>ul>li{

    display: inline-block;
    min-width: 100px;
    height: 28.8px;

}

nav ul li a{
    color: black;
    display: block;
    min-height: 28.8px;
    text-align: center;
    border: solid 1px black;
}

nav ul li ul{
    display: none;
    position: absolute;
    min-width: 150px;
}

nav ul li:hover>ul{
    display: block;
}

nav ul li {
    position: relative;
    
    
}
nav ul li ul li ul{
    left: 150px;
    top: 0;
}
nav{
    width: 70%;
    
}

#navegacion{
    display: inline-flex;
    text-align: center;
    width: 100%;
    
    
}
#buscador{
    width: 30%;
    display: flex;
   
}
#buscador>img{
    width: 5%;
}

#buscador>input{
    width: max-content;
}

#fondoMedio{
    width: 100%;

}
#fondoMedio>img{
    width: 100%;
}

#principal{
    margin: 5px;
    display: inline-flex;
}
main{
    width: 70%;
    padding: 20px;
    display: grid;
    grid-template-rows: min-content min-content;



}
#fotoPerfil>img{
    width: 30%;
}
#fotoPerfil>p{
    margin-left: 20px;
    padding: 10px;
    text-align: justify;
}

#fotoPerfil{
    justify-content: center;
    display: inline-flex;
    
}
aside{
    width: 30%;
    padding: 20px;

   
}

aside>section{
    padding: 15px;
}


#formularioContacto{
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin: 50px;
}

#formularioContacto>input:invalid {
    background-color: #ffdddd;
  }
 
  
  #formularioContacto>input:valid {
    background-color: #ddffdd;
  }
  
  #formularioContacto>form:valid {
    border: 5px solid #ddffdd;
  }
    
  #formularioContacto>input:required {
    border-color: #800000;
    border-width: 3px;
  }
  
  #formularioContacto>input:required:invalid {
    border-color: #C00000;
  }

aside>section>ol>li{
    margin: 10px;

}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}
  
.tags li {
    float: left; 
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .tag:hover {
    background-color: crimson;
    color: white;
  }
  
  .tag:hover::after {
     border-left-color: crimson; 
  }

  #publicidad{
      width: fit-content;
      text-align: center;
  }

  #contenidoFooter{
    display: grid;
    grid-template-columns: auto auto 15%;
    align-items: center;
    background-image: linear-gradient(to top,rgb(215, 252, 252) ,rgb(251, 255, 255) );
    height: 50px;
    
    }

#redes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 0px;
    align-items: center;

}

#nombre{
    justify-items: center;
    margin-left: 20px;
}

#svg{
    justify-items: center;
}

#redes>img{
    width:45px;
}

#redes>img:hover{
    transform: scale(1.25);
}
